body {
  width: 90vw;
  height: 90vh;
  background-color: tomato;
  display: flex;
  align-items: center;
  justify-content: center;
}

div {
  border: 3px solid #000;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  background-color: wheat;
}

.field {
  width: 222px;
  height: 222px;
  justify-content:space-around;
  align-items: center; 
}

.field__first-div,
.field__second-div, 
.field__third-div {
  background-color: teal;
}

.field__first-div, .field__third-div {
  width: 45px;
  height: 45px;
  border-color: white;
}

.field__second-div {
  width: 185px;
  height: 45px;
  border-color: white;
  border-style:dashed;
}