* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #EEE;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-view {
  display: inline-block;
  background-color: white;
  width: 400px;
  height: 650px;
  border-radius: 30px;
  padding: 30px;
}

.mr {
  margin-right: 100px;
}

.nav-bar {
  display: flex;
}

.fa-arrow-left-long {
  margin-right: auto;
}